* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}

/*-----the page----*/
section {
    width: 100%;
    height: 100vh;
    padding: 3.24em 12%;
    background: #fff;
}

/*-----introductory text----*/
section .secHead {
    font-weight: 100;
    font-size: 2.3em;
    text-align: center;
    margin: 10px auto;
}

section .mainHead {
    font-weight: 600;
    font-size: 2.3em;
    text-align: center;
    margin: 0px auto;
}

section .introText {
    text-align: center;
    font-size: 1em;
    margin: 10px auto;
    padding: 10px 260px;
}

/*--cards-with-prodcut-details--*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3.5em auto 1.2em;
    gap: 2em;
}

main .col {
    width: 33.2%;
}

.col .card {
    background: #fff;
    box-shadow: 0px -1px 1.2em #b3afaf;
    padding: 1.84em;
    width: 100%;
    border-radius: 5px;
    flex-grow: 1;
    cursor: pointer;
    flex-shrink: 1;
    transition: 0.4s;
}
.col .card:hover{
    transform: translateY(24px);
}
.card-1 {
    border-top: 6px solid hsl(180, 62%, 55%);
}

.card-2 {
    border-top: 6px solid hsl(0, 78%, 62%);
}

.card-3 {
    border-top: 6px solid hsl(34, 97%, 64%);
    margin-top: 2em;
}

.card-4 {
    border-top: 6px solid hsl(212, 86%, 64%);
}

.card h4 {
    font-size: 1.4em;
    font-weight: 500;
    margin: 5px 0 10px;
}

.card p {
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 24px;
    line-height: 1.5em;
}

.card img {
    margin-left: 80%;
    width: 3.5em;
}

/**design for mobile screen**/
@media screen and (max-width:500px) {

    /*-----the page----*/
    section {
        height: auto;
        padding: 20px 10px;
    }

    /*-----introductory text----*/
    section .secHead {
        font-size: 1.7em;
        margin: 0px;
    }

    section .mainHead {
        font-size: 1.7em;
        margin: 0px;
    }

    section .introText {
        font-size: 1em;
        padding: 10px;
    }

/*--cards-with-prodcut-details--*/
main {
    margin: 2em auto;
    flex-direction: column;
    padding:2px 6%;
}

main .col {
    width:100%;
}

.col .card {
    padding: 1.32em;
}
}